.body{
  background-color: #F1F1F3;
}


.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 31px 160px;
}

.button{
    padding:  15px 30px;
    border-radius: 8px;         
    border-color: #006A50;
    color: #006A50;
    font-size: 18px;
    font-weight: bolder;
    background-color:transparent;
    

}

.h4{
   font-weight: bold; 
   font-size: 32px; 
}

.div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 31px 160px;
    width: 1280;
    height: 560;
    background-color: #C6E4D6;
    padding: 100px 80px;
    border-radius: 24px;


}

.div-button{
  background-color:#006A50;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 17px 34px;
  border: none;
  border-radius: 10px;
}



/* main */

/* section 1 */
.main{
  margin-top: 130px;
}
.main-div{
  display: flex;
  gap: 24px;
  
}

.main-section{
  margin: 31px 160px;

}

.h1-fira-sans-bold {
  font-family: "Fira Sans", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
}

.c-m-d{
  background-color: white;
  padding: 24px 24px;
  border-radius: 16px;
}


.m-t-color-regular {
  font-family: "Fira Sans", serif;
  font-style: normal;
  color: #0E0E0E;
  font-size: 16px;
  opacity: 70%;
}




/*  */
.vision-section{
  display: flex;
  gap: 24px;
}


.vision{
  background-color: #b7ccf0;
  padding: 32px 32px;
  border-radius: 16px;
}


.vision-color-regular {
  font-family: "Fira Sans", serif;
  font-style: normal;
  color: #0E0E0E;
  font-size: 20px;
  opacity: 70%;
}


.vision-div-button{
  background-color:#5490F5;
  font-size: 18px;
  font-weight: bold;
  color: white;
  padding: 13px 26px;
  border: none;
  border-radius: 8px;
}




.vision-2{
  background-color: #C6E4D6;
  padding: 32px 32px;
  border-radius: 16px;
}

.vision-2-div-button{
  background-color:#09A15C;
  font-size: 18px;
  font-weight: bold;
  color: white;
  padding: 13px 26px;
  border: none;
  border-radius: 8px;
}


.vision-3{
  background-color: #F7EBCF;
  padding: 32px 32px;
  border-radius: 16px;
}

.vision-3-div-button{
  background-color:#FFC239;
  font-size: 18px;
  font-weight: bold;
  color: white;
  padding: 13px 26px;
  border: none;
  border-radius: 8px;
}






/* section 2 */

.Yunus{
  margin: 31px 160px;
  background-color: white;
  padding: 24px 24px;
  border-radius: 16px;
  background-image: url(../image/quote-bg.png);
  background-repeat: no-repeat;
  background-position: 20px 20px ;

}


.fira-sans-samibold {
  font-family: "Fira Sans", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
}


.fira-sans-h3-regular {
  font-family: "Fira Sans", serif;
  color: #0E0E0E;
  opacity: 60%;
  font-size: 16px;
}


/* 3rd section */

.section-3rd{
  margin: 31px 160px;
 
}


.news-section{
  background-color: #FFFFFF;
  display: flex;
  padding: 48px 48px;
  border-radius: 24px;
  gap: 32px;
  margin-bottom: 24px;
  

}

.news-image{
  border-radius: 24px;
  width: 408px;
  height: 306px;
}


.h1-news-fira-sans-bold {
  font-family: "Fira Sans", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
}

.date{
  display: flex;
  gap: 12px;
}


.new-fira-sans-h3-regular {
  font-family: "Fira Sans", serif;
  color: #0E0E0E;
  opacity: 70%;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 30px;

}

.news-div-button{
  background-color:#006A50;
  font-size: 18px;
  font-weight: bold;
  color: white;
  padding: 13px 26px;
  border: none;
  border-radius: 8px;
}



/* 4th */


.section-4th{
  padding: 50px;
  text-align: center;
  background-color: #e6f4f1;
}

.donate-color{
  font-size: 40px;
}

.donate-button{
  background-color:#FFFFFF;
  font-size: 20px;
  font-weight: bold;
  color: #0E0E0E;
  padding: 40px 40px;
  border: none;
  border-radius: 16px;
  margin:10px;
}


.donate-color-button{
  background-color:#C6E4D6;
  font-size: 20px;
  font-weight: bold;
  color: #0E0E0E;
  padding: 40px 40px;
  border: none;
  border-radius: 16px;
  margin:10px;
}


.donate-color-button {
  background-color: #004d40;
  color: #fff;
}

.donate-button:hover {
  background-color: #1ec708;
  color: #fff;
}


.input{
  width: 1024px;
  height:64px ;
  text-align: center;
  margin-bottom: 20px;
}

.section-4{
  text-align: center;
}










.section-5th {
  background-color: #C6E4D6;
  padding: 80px 100px;
  text-align: center;
  border-radius: 24px;
  margin: 31px 160px;
}

.p-5th{
  font-size: 16px;
  color: #0E0E0E;
  opacity: 70;
}


.form {
  margin: 20px 0;
}

.input-type {
  display: flex;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.input-type input {
  padding: 12px 16px;
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 6px 0 0 6px;
  font-size: 16px;
  flex: 1;
}

.input-type button {
  padding: 12px 20px;
  border: none;
  background-color: #004d40;
  color: #fff;
  font-size: 16px;
  border-radius: 0 6px 6px 0;
  
}

.input-type button:hover {
  background-color: #00695c;
}




.last-text {
  font-size: 14px;
  color: #555;
  margin-top: 20px;
}







/* footer */

.footer{
  text-align: center;
  background-color: #FFFFFF;
  border-top: 1px solid #ccc;
  padding: 20;
  
}
.footer-div{
  margin: 10px;
}






  
/* text style from google */

.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .fira-sans-extralight {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .fira-sans-light {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  
  
  .fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-style: normal;
    color: #0E0E0E;
    font-size: 56px;
    font-weight: 700px;
    width: 622px;
    height: 210px;
  }
  
  .fira-sans-extrabold {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .fira-sans-black {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .fira-sans-thin-italic {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .fira-sans-extralight-italic {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .fira-sans-light-italic {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .fira-sans-regular-italic {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .fira-sans-medium-italic {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .fira-sans-semibold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .fira-sans-bold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .fira-sans-extrabold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .fira-sans-black-italic {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: italic;
  }
  